<%- include("partials/header") -%>
<!-- custom css -->
<link rel="stylesheet" href="css/about.css">

<body>
  <h1 style="text-align:center">
    <i class="fa-solid fa-circle-info fa-sm"></i>
    About
  </h1>
  <p>
    This website is all about the different varieties of indie games.
    where you can find the different options such as you can play as a guest but your data not get stored in database.
    So it is beneficial for you to login for getting better experiences.
  </p>
  <h2>What We Offer</h2>
  <p>
    We offer  different free and fun online games which can quickly be played from the browser.
    The thinking behind this site was  we could add a bit of joy to people’s lives.
    Today the gaming industry is worth hundreds of billions of dollars and much of the gaming industry revolves around
    hyper-optimizing design for accidental ad clicks, paid upgrades, and creating addictive loops – all of which are needed to
    offset the cost of paying for distribution buying ads in other games and on other platforms.
    In recent years many gaming companies have went public with valuations in the 10s of billions of dollars including Roblox,
    Unity and Applovin.
  </p>
   <h2>Objective</h2>
   <p>
     Build a web vased application to entertain the people with the collection of different mini games and some other features:
     <ul>
       <li>Provides the varities of indie games</li>
       <li>This site also contains puzzle games which can increase our brain power</li>
       <li>There is a music games which can relax or entertain you.</li>
       <li>Data security</li>
     </ul>
   </p>
   <hr>
   <h2 style="text-align:center">About developers</h2>

   <div class="container text-center">
     <div class="row mt-3">

       <div class="col-6">
         <div class="card">
           <img src="images/about_img/pb.jpg" class="proimg">
           <div class="card-body">
             <p>
               <h4>Frontend developer</h4>
                <h5>Pratiksha bhatt</h5>
             </p>
           </div>
         </div>
       </div>

       <div class="col-6">
         <div class="card">
           <img src="images/about_img/ak.jpg" class="proimg">
           <div class="card-body">
             <p>
               <h4>Backend developer</h4>
                <h5>Ankita kundliya</h5>
             </p>
           </div>
         </div>
       </div>

     </div>
   </div>



</body>

<%- include("partials/footer") -%>
