body {
  font-family: 'Righteous', cursive;
  background-color: #5BC0F8;
  font-size: 25px;
}

.card {
  background-color: black;
  width: 18rem;
  position: relative;
  left: 25%;
  right: 25%;
}

.card-body {
  background-color: white;
  margin-top: 0.5%;
}

.proimg {
  position: relative;
  width: 50%;
  height: 100%;
  top: 10%;
  left: 25%;
}

.row {
  margin-top: 40px;
  margin-bottom: 40px;
}

@media only screen and (max-width: 480px) {
  .card {
    background-color: black;
    width: 10rem;
    position: relative;
    left: 5%;
    right: 30%;
  }
  .card-body {
    margin-top: 0;
  }
  .row {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 20px;
  }
  p,
  li,
  h4 {
    font-size: 15px;
  }
  h5 {
    font-size: 10px;
  }
}
