body{
    font-family: 'Righteous', cursive;
  background-color: #30E3DF;
  font-size: 20px;
}
.card{
  border-radius: .5rem;
  box-shadow: 4px 4px 20px 8px black;

}
.card:hover{
  transform: scale(1.05);
  box-shadow: 4px 4px 20px 8px black;
}
#imagesection{
  text-align: center;
  color: black;
  background-color: #F7EFE5;
  border-top-left-radius: .5rem;
  border-bottom-left-radius: .5rem;
}
#infosection{
  background-color: #FFFBF5;
}
.borderless-input {
  width: 200px;
  border: none;
  outline: none;
  background-color: transparent;
}
.imgav{
  width: 80px;
}
.edit{
  position: relative;
  margin-top:20px;
  margin-bottom: 5px;
  border:none;
}


@media only screen and (max-width: 480px){
  #imagesection{
    height: 200px;
    text-align: center;
    color: black;
    background-color: #F7EFE5;
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem;
  }
  .edit{
    position: relative;
    top:60px;
    right: 120px;
    margin-top:20px;
    margin-bottom: 5px;
    border:none;
  }
}
