body{
  font-family: 'Righteous', cursive;
  text-align: center;
}
h1{
  font-size: 60px;
}
#ilogo{
  color: #EB455F;
}
#textlogo{
  font-size: 25px;
}
/* top */
nav{
  z-index: 1;
  background-color: white;
  padding: 0px;
  margin: 0px;
}
.navbar-nav{
  position: absolute;
  top:10px;
  right:0px;
}
.nav-item{
  margin-right: 10px;
}
.row{
  background-color:black;
  color: white;
}
#col1{
  background-color: black;
  margin-top: 15%;
}
#topimg{
  transform: rotate(0deg);
  position: relative;
  width: 65%;
}
/* bottom */
#bottom{
  text-align: center;
  background-color: red;
  position: absolute;
  left: 0px;
  right: 0px;
}


@media only screen and (max-width: 480px){
  h1{
    font-size: 30px;
  }
  #col1{
    background-color: black;
    margin-top: 5%;
    margin-bottom: 5%;
  }
  .nav-item{
    margin: 4px;
  }
  .navbar-nav{
    position: relative;
    bottom:10px;
    right:0px;
  }
  #topimg {
  width: 100%;
  }

}
