body{
  background-image: url("../images/signin_signup_img/game2.png");
  background-repeat: no-repeat;
  background-size: 50%;
  background-color: #DCEDC2;
  font-family: 'Righteous', cursive;
}
h1{
  font-size: 50px;
  margin-top: 5%;
  margin-left: 45%;
  text-align: center;
}
p{
  font-size: 20px;
}
form{
  background-color: transparent;
  border: 1px solid black;
  text-align: center;
  margin:2% 5% 5% 50%;
  padding: 2%;
  border-radius: 10%;
}
#ilogo{
  color: #EB455F;
}
#inputdiv{
  margin-left: 25%;
  width: 50%;
}
.checkbox{
  margin-top: 2%;
}
#loginbtn{
  width: 50%;
  margin-top: 2%;
}
#orsignup{
  margin-top: 2%;
}
.signin{
  border: none;
  background-color: transparent;
  color: blue;
}
@media only screen and (max-width: 480px) {
  body {
    background-size: 15%;
    opacity: 1;
  }
  h1 {
    font-size: 20px;
    margin-left: 0;
  }
  h2{
    font-size: 15px;
  }
  p{
    font-size: 10px;
  }
  form {
    margin: 2% 5%;
    padding: 5%;
  }
  input{
    width: 20%;
  }
  #inputdiv {
    font-size: 10px;
    margin-left: 25%;
    width: 50%;
  }
}
