<%- include("../partials/header") -%>

  <!-- custom css -->
  <link rel="stylesheet" href="css/gamescss/card.css">

<body>

  <div class="wrapper">
      <h1>Guess the card  </h1>
      <div id="container">

      </div>
      <h3>Click any card to begin</h3>
      <p>
        <span id="seconds">00</span><span id="semicolon">:</span><span id="tens">00</span>
        <button class="refresh" type="submit" onclick="window.location.reload()" name="button"> Reset </button>
      </p>
      <p id ="text"></p>
  </div>

  <script type="text/javascript" src="gamesJS/card.js"></script>
</body>

<%- include("../partials/footer") -%>
