<%- include("../partials/header") -%>

  <!-- custom css -->
  <link rel="stylesheet" href="css/gamescss/drumkit.css">

<body>

  <h1 id="title">Drum <i class="fa-solid fa-drum fa-lg" style="color: #11e8e5;"></i> Kit</h1>
    <div class="set">
      <button class="w drum">w</button>
      <button class="a drum">a</button>
      <button class="s drum">s</button>
      <button class="d drum">d</button>
      <button class="j drum">j</button>
      <button class="k drum">k</button>
      <button class="l drum">l</button>
    </div>

  <script type="text/javascript" src="gamesJS/drumkit.js"></script>
</body>

<%- include("../partials/footer") -%>
