<%- include("../partials/header") -%>

  <!-- custom css -->
  <link rel="stylesheet" href="css/gamescss/flappybird.css">

<body>
  <div id="container">
    <div id="info_box">
      <span id="info_title"> Flappy Bird</span>
      <span id="info_instructions">how to play: click or press space to jump. don't hit the blocks!</span>
      <span id="info_start">start game</span>
      <span id="info_end" class="hidden"></span>
    </div>
    <div id="score" class="hidden"></div>
    <div id="game">
      <div id="block"></div>
      <div id="hole"></div>
      <div id="sprite" class="hidden"></div>
    </div>
  </div>
  <script type="text/javascript" src="gamesJS/flappybird.js"></script>
</body>

<%- include("../partials/footer") -%>
