<%- include("../partials/header") -%>

  <!-- custom css -->
  <link rel="stylesheet" href="css/gamescss/guesscolor.css">

<body>

    <h1>The Great <span id="color-display">RGB</span> Guessing Game</h1>
  	<div id ="stripe">
  		<button id="reset">New Colors</button>
  		<span id="message"></span>
  		<button class="mode">Easy</button>
  		<button class="mode selected">Hard</button>
  	</div>
  	<div id="container">
  		<div class="square"></div>
  		<div class="square"></div>
  		<div class="square"></div>
  		<div class="square"></div>
  		<div class="square"></div>
  		<div class="square"></div>
  	</div>

  	<script type="text/javascript" src="gamesJS/guesscolor.js"></script>

</body>

<%- include("../partials/footer") -%>
