<%- include("../partials/header") -%>

  <!-- custom css -->
  <link rel="stylesheet" href="css/gamescss/snake.css">

<body>
  <h1>ONLY FOR PCS/DESKTOP</h1>

  <div class="container noselect">

      <button id="replay">
        <i class="fas fa-play"></i> RESTART
      </button>

      <div id="canvas"></div>

      <div id="ui">
        <h2>SCORE</h2>
        <span id="score">00</span>
      </div>

  </div>


<script type="text/javascript" src="gamesJS/snake.js"></script>

</body>

<%- include("../partials/footer") -%>
