<%- include("../partials/header") -%>
<!-- custom css -->
<link rel="stylesheet" href="css/alertcss/accCreated.css">

<body>

<form action="/accCreated" method="post">
  <div class="container">
      <h2>
        You have successfully created account
        <i class="fa-solid fa-circle-check" style="color: #2f991a;"></i>
      </h2>
      <p>click below to continue</p>
      <button class="btn btn-success btn-lg fa-beat" type="submit" name="button"> Continue </button>
  </div>
</form>

</body>

<%- include("../partials/footer") -%>
